.tile{
    display: grid;
    place-content: center;
    width: 100px;
    height: 100px;
}


.black-tile{
  background-color: rgb(51, 72, 140);
}

 .white-tile{
    background-color: rgb(214, 214, 214);
}
.tile img{
    width: 80px;
}

.tile .chess-piece{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
}
