#chessboard{
    display: grid;
    grid-template-columns: repeat(10, 100px);
    grid-template-rows: repeat(8, 100px);
    width: 1000px;
    min-width: 500px;
    height: 800px;
    
}

#chessboard .tile{
    width: 100px;
    height: 100px;
}

#chessboard .black-tile{
  background-color: rgb(51, 72, 140);
}

#chessboard .white-tile{
    background-color: rgb(214, 214, 214);
}
